body {
    font-family: Helvetica, serif;
    --main_green: #2bac5c;

    padding: 0;
    margin: 0;
}

.background_image {
    position: fixed;
    left: 0%;
    top: 0%;
    height: 100%;
    width: 100%;
}

#welcome_text_div {
    position: fixed;
    font-weight: bolder;
    z-index: 1;
    display: inline-block;
}

#background_animation_div {
    position: fixed;
    height: 100%;
    width: 100%;
}

#about_us_div {
    position: relative;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 60px;

    font-weight: bold;
    font-size: 26px;
}