#form_container_div {
    position: fixed;

    background-color: #FFFFFF;
    padding: 50px 100px;

    font-family: inherit;
    font-weight: bold;
}

#form_container_div a {
    text-decoration: none;
    color: black;

    transition: color 250ms ease-in-out;
}

#form_container_div a:hover {
    color: var(--main_green);
}

#form_div {
    position: relative;
    font-family: inherit;
    font-weight: inherit;
    margin: 10px 10px 20px;
}

.text_div {
    position: relative;
    font-family: inherit;
    font-weight: inherit;
}

.form_input {
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    margin: 2px;

    box-sizing: border-box;
    border-style: solid;
    appearance: none;

    transition: border-color 0.2s ease-in-out;
}

.form_input:hover {
    border-color: var(--main_green);
}

.form_input:focus {
    border-color: var(--main_green);
}

.form_button {
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    margin: 2px;

    box-sizing: border-box;
    border-style: solid;
    appearance: none;

    transition: border-color 0.2s ease-in-out;
}

.form_button:hover {
    border-color: var(--main_green);
    color: var(--main_green);
}