<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">

        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}

            <link rel="stylesheet" href="{{ asset('/styles/landing_page.css') }}">
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}
            <div id="background_animation_div">
                <img class="background_image undraggable" src="/styles/resources/background_gradient.jpg" alt="">
            </div>

            <div id="nav_bar">
                <div id="logo" class="horizontally_centered unselectable undraggable">
                    🐲
                </div>

                <button class="horizontally_centered" onclick="">
                    ABOUT US
                </button>

                <button class="horizontally_centered" onclick="">
                    DONATE
                </button>

                <button class="horizontally_centered">
                    REQUEST
                </button>

                <button class="horizontally_centered">
                    LOG IN
                </button>

            </div>

            <div id="welcome_text_div" class="centered unselectable header_text centered_text">
                <p class="centered_text">
                    HARDWARE PHOENIX
                    <&#47;🐲>
                </p>
            </div>
        {% endblock %}
    </body>
</html>
